@{
    ViewData["Title"] = "Extra Page";
}

<div class="mb-2 d-flex justify-content-between">
    <h1>Extra page</h1>
    <a style="align-self: center;" class="btn btn-primary" asp-action="add" asp-controller="Extra">Add</a>
</div>
<div>
    <table class="table table-dark">
        <thead>
             <tr>
                <th>Title</th>
                <th style="width: 10em;">Layout</th>
                <th style="width: 12em;">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>test</td>
                <td>1</td>
                <td>
                    <a class="btn btn-primary">Edit</a>
                    <a class="btn btn-primary">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
