@{
    ViewData["Title"] = "Starting Page";
}

<div class="mb-2 d-flex justify-content-between">
    <h1>Pages</h1>
    <a style="align-self: center;" class="btn btn-primary" asp-action="add" asp-controller="home">Add</a>
</div>